@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&display=swap');

$body-color: #1C1C1C;
$app-color: #F5F7FB;
$button-color: #4D5B9E;
$heading-color: #293264;
$selected-color: #D6DBF5;
$incorrect-color: #F8BCBC;
$correct-color: #94D7A2;
$title-size: 46px;
$subtitle-size: 24px;
$option-size: 14px;
$br-ratio: 0.07;

@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background-color: $button-color;
  border: 0;
  color: $app-color;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $body-color;
  font-family: 'Inter', sans-serif;
  color: $heading-color;
}

.container {
  margin: 50px auto;
  background-color: $app-color;
  background-image: url(./images/baby-blob.svg), url(./images/lemony-blob.svg);
  background-position: -300px 700px, 600px -200px;
  background-repeat: no-repeat, no-repeat;
  width: 800px;
  min-height: 800px;
}

.splash-container {
  @include flexbox;
  background-position: -170px 630px, 600px -200px;
}

.splash {
  @include flexbox;
  h1 {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: $title-size;
    line-height: 120% $title-size;
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: $subtitle-size;
    line-height: 120% $subtitle-size;
  }

  button {
    @include button;
    margin-top: 40px;
    width: 280px;
    height: 76px;
    border-radius: 280px * $br-ratio;
    font-size: $subtitle-size;
    line-height: 120% $subtitle-size;
  }
}

.quiz-container {
  display: flex;
  flex-direction: column;
  padding: 60px 100px;

  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid $selected-color;
  }

  button {
    @include button;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: $option-size;
    line-height: 120% $option-size;
  }

  .check-button {
    width: 180px;
    height: 50px;
    border-radius: 180px * $br-ratio;
    align-self: center;
  }

  .bottombar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;

    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 120% 18px;
      text-align: center;
    }

    .restart-button {
      width: 150px;
      height: 45px;
      border-radius: 150px * $br-ratio;
    }
  }
}

.item {
  h2 {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: $subtitle-size;
    line-height: 120% $subtitle-size;
  }

  .answers {
    margin-top: 18px;
    display: flex;
    gap: 18px;

    .answer {
      border: 1px solid $button-color;
      border-radius: 12px;
      padding: 5px 8px;
      font-weight: 500;
      font-size: $option-size;
      line-height: 120% $option-size;
      text-align: center;
      cursor: pointer;
    }

    .selected {
      border: 1px solid $selected-color;
      background-color: $selected-color;
    }

    .unchosen {
      opacity: 50%;
    }

    .correct {
      border: 1px solid $correct-color;
      background-color: $correct-color;
    }

    .incorrect {
      opacity: 50%;
      border: 1px solid $incorrect-color;
      background-color: $incorrect-color;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}